/* MerchantTable.css */

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  